body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 100vh;
  margin: 0;
  top: 0;
  bottom: 0;
  padding: 0;
  color: black;
}

.board {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.line {
  display: flex;
}

.tile {
  display: flex;
  font-size: 32px;
  width: 45px;
  height: 45px;
  border: 1px solid black;
  border-radius: 10px;
  color: black;
  margin: 2px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.correct {
  background-color: #538d4e;
  color: white;
}

.exists {
  background-color: #b59f3b ;
  color: white;
}

.incorrect {
  background-color: #3a3a3c;
  color: white;
}

.success {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tryagain {
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.tryagain {
  background-color: #1c1c1d ;
  color: white;
}